@charset "UTF-8";
/* CSS Document */

table#affi_list {
    border: 1px #999 solid;
    border-collapse: collapse;
    border-spacing: 0;
}
table#affi_list tr {
    margin: 0;
    padding: 0;
}
table#affi_list th {
    padding: 3px 4px 1px 4px;
    border: #ddd solid;
    border-width: 1px;
    background: #eee;
    font-weight: bold;
	font-family: "Courier New", Courier, monospace;
}
table#affi_list td {
	padding: 3px 4px 1px 4px;
	border: 1px #ddd solid;
	border-width: 1px;
	font-family: Monaco, "Courier New", Courier, monospace;
}

table.aam_color td, table.aam_color th {
	font-family: Monaco, "Courier New", Courier, monospace;
	padding-right: 5px;
	padding-left: 5px;
}
table.aam_color td.aam_color_name {
	text-align: right;
}

table.aam_test td, table.aam_test th {
	font-family: Monaco, "Courier New", Courier, monospace;
}

.aam_error_info {
    color: red;
    margin: 10px 0px;
    display: block;
}

.aam_result_info {
    margin-top: 20px
}

input#dryrun {
    margin-left: 10px;
}

